body {
    background: #050816;
    color: #f5e6c8;
    font-family: 'Inter';
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.logo {
    font-family: 'Playfair Display';
    font-size: 20px;
}

.hero {
    max-width: 700px;
    margin: auto;
    padding: 40px;
}

h1 {
    font-family: 'Playfair Display';
    font-size: 40px;
}

input, button {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 8px;
    border: none;
}

button {
    background: gold;
    cursor: pointer;
}

.signs {
    margin-top: 20px;
    font-size: 18px;
}

.result {
    margin-top: 20px;
    background: #111;
    padding: 15px;
}
