{% extends "base.html" %}

{% block content %}

<h2>🪐 Vedic 12 House Chart</h2>

<div class="grid">

{% for house, planets in kundli.items() %}
<div class="box">
    <b>{{ house }}</b><br><br>

    {% for p in planets %}
        • {{ p }}<br>
    {% endfor %}

</div>
    <h2>🏠 Bhava Chart</h2>

{% for house, planets in bhava.items() %}
<div>
    <b>{{ house }}</b><br>
    {% for p in planets %}
        {{ p }}<br>
    {% endfor %}
    <hr>
</div>
{% endfor %}
{% endfor %}

</div>

{% endblock %}
