<!DOCTYPE html>
<html>
<head>
    <title>Kundli Generator</title>
</head>
<body>

<h2>Enter Your Details</h2>

<form method="POST" action="/kundli">

    <label>Date of Birth:</label><br>
    <input type="date" name="date_of_birth" required><br><br>

    <label>Time of Birth:</label><br>
    <input type="time" name="time_of_birth" required><br><br>

    <label>Place of Birth:</label><br>
    <input type="text" name="place" required><br><br>

    <button type="submit">Generate Kundli</button>

</form>

</body>
</html>
